/* .h1{
    font-size: 40px;
    font-family: tahoma;
    color: darkblue;
    position: absolute;
    top: 90px;
    left: 50px;
} */
/* .p-b{
    width: 100%;
} */
/* .moon{
width: 100%;
height: auto;
display: flex;
justify-content: center;
flex-direction: column ;
}
.text{
 display: inline-block;
 display: inlien-block;
 margin: 0 auto;
 width: 400px;    
}
.text2{
    display: inlien-block;
 margin: 0 auto;
 width: 200px;   
} */
/* .moon2{
    filter: drop-shadow( -8px  5px  7px  black);

} */